body {
    font-family: Work Sans;
    font-size: 32px;
    line-height: 1.5;
    background-color: #fff;
    margin: 0;
}

svg {
    display: none;
}

header {
    position: fixed;
    top: 10px;
    left: 10px;
    /*   z-index: 1; */
}

div {
    width: 100%;
    height: 100%;
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'viksjoe';
    src: url('font/ViksjoeTrial-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

a {
    font-size: 1.5vw;
    position: absolute;
    bottom: 50px;
    left: 1%;
    width: 20px;
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-family: 'viksjoe', sans-serif;
}

p {
    font-size: 1.5vw;
    position: absolute;
    top: 30px;
    right: 1%;
    width: 20px;
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-family: 'viksjoe', sans-serif;
    text-align: justify;
    direction: rtl;
}